<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Clear Trip Test Suite" verbose="1" >
    <test name="Clear Trip > Coding Round Test Cases" >
        <classes>
            <class name="com.codinground.tests.SignInTest" />
            <class name="com.codinground.tests.HotelBookingTest" />
            <class name="com.codinground.tests.FlightBookingTest" />
        </classes>
    </test>
</suite>